<!DOCTYPE html>
<html lang="en">
<head>
    {% include "main/menu.html" %}
    {% load static %}
    <meta name="description" content="Landing Page for gahrb.dev"/>
    <meta name="keywords" content="private, projects"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"/>

    <title>gahrb.dev</title>
    {% block extrahead %}
    <link rel="shortcut icon" href="{% static 'img/dalle_gahrb_12.png' %}"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <!-- Style -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}"/>
    <link rel="icon" href="{% static 'favicon.ico' %}"/>
    {% endblock extrahead %}

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/5f11c1a928.js" crossorigin="anonymous"></script>
</head>
<body>

{% block header %}{% endblock header %}
{% block welcome %}{% endblock welcome %}

<main id="main" class="site-main">
    {% block content %}{% endblock content %}
    {% block overview %}{% endblock overview %}
</main>
<footer id="colophon" class="site-footer">
    {% include "main/footer.html" %}
    {% block footer %}{% endblock footer %}
</footer>

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="application/javascript"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" type="application/javascript"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" type="application/javascript"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js"  type="application/javascript" defer></script>
<script src="{% static 'js/jquery.countTo.min.js' %}" type="application/javascript"></script>
<script src="{% static 'js/jquery.shuffle.min.js' %}" type="application/javascript"></script>
<script src="{% static 'js/script.js' %}" type="application/javascript"></script>
{% endblock scripts %}
</body>
</html>