{% block footer %}
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">

      {% if user.is_authenticated %}
      <a class="btn btn-blue btn-outline-light btn-floating m-1" href="https://gitlab.com/gahrb" role="button"
        ><i class="fa-brands fa-gitlab"></i
      ></a>
      <a class="btn btn-blue btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/gahr-bernhard/" role="button"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a class="btn btn-blue btn-outline-light btn-floating m-1" href="https://github.com/gahrb" role="button"
        ><i class="fa-brands fa-github"></i
      ></a>
      {% endif %}
      <a class="btn btn-blue btn-outline-light btn-floating m-1" href="https://twitter.com/gahrb" role="button"
      ><i class="fa-brands fa-twitter"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>

  <!-- Project Badges -->
  <div class="container p-4 pb-0">
      <div class="row justify-content-center">
    <ul class="list-inline">
        <li class="list-inline-item align-top">
            <div class="carbonbadge" id="wcb"></div>
        </li>
        <li class="list-inline-item align-top">
            <a class="gl-mr-3" data-qa-link-url="https://gitlab.com/gahrb1/web_presence/-/releases/permalink/latest"
               data-qa-selector="badge_image_link"
               href="https://gitlab.com/gahrb1/web_presence/-/releases/permalink/latest" rel="noopener noreferrer"
               target="_blank">
                <img alt="Project badge" aria-hidden="" class="project-badge" height=""
                     src="https://gitlab.com/gahrb1/web_presence/-/badges/release.svg?key_width=130" width=""/>
            </a>
        </li>
        <li class="list-inline-item align-top">
            <a class="gl-mr-3" data-qa-link-url="https://gitlab.com/gahrb1/web_presence"
               data-qa-selector="badge_image_link" href="https://gitlab.com/gahrb1/web_presence"
               rel="noopener noreferrer" target="_blank">
                <img alt="Project badge"
                     aria-hidden=""
                     class="project-badge"
                     height=""
                     src="https://user-content.gitlab-static.net/e7b1487736a40a602d6d6861a3e0d4f95392e460/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f636f64652532307374796c652d626c61636b2d3030303030302e737667"
                     width=""/>
            </a>
        </li>
    </ul>
    </div>
  </div>

    <div class="text-center p-3" >
        <p>Your Data:</p>
        <p>{% if user.is_authenticated %}
            <a class="text-white" href="{% url 'catalog:session_data' user.id %}">Logged in as
            {{ user }}</a>
            {% else %}
            <a class="text-white" href="{% url 'catalog:session_data' %}">Not logged in: {{ user }}</a>
            {% endif %}
        </p>
    </div>
  <div class="text-center p-3">
    ©2022 Copyright:
    <a href="{% url 'catalog:home' %}?not_implemented=True">gahrb.dev</a>
  </div>
</footer>
{% endblock footer %}
