{% extends "main/base_generic.html" %}
{% load static %}

{% block welcome %}
<div id="hero" class="hero overlay">
    <div class="container">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Welcome to gahrb.dev</h1>
            <p>This page is mainly for my personal use.</p>
        </div>
    </div>
    </div>
</div>
{% endblock welcome %}

{% block content %}
<section class="site-section section-features">
    <div class="container" id="projects">
        <h2>Projects</h2>
        <ul class="portfolio-sorting list-unstyled">
            <li class="list-inline-item">
                <p>Find all projects. Finalized, deprecated, or actively maintained.</p>
            </li>
        </ul>
        <a href="{% url 'catalog:projects' %}" class="btn btn-gray btn-border">
            View Projects
        </a>
        <img class="rounded"
             src="{% static 'img/dalle_gahrb_14.png' %}"
             alt="Projects wallpaper" height="" width=""/>
    </div>
</section>

<section class="site-section gray-bg section-features">
    <div class="container" id="techstack">
        <h2>Tech Stack</h2>
        <ul class="list-unstyled">
            <li class="list-inline-item">
                <p>Find the techstack used in all projects.</p>
            </li>
        </ul>
        <a href="{% url 'catalog:techstack' %}" class="btn btn-gray btn-border">
            View Tech Stack
        </a>
        <img class="rounded"
             src="{% static 'img/dalle_gahrb_13.png' %}"
             alt="Tech stack wallpaper" height="" width=""/>
    </div>
</section>
{% endblock content %}

{% block overview %}
{% include "main/overview.html" %}
{% endblock overview %}

