{% extends "main/base_generic.html" %}
{% load static %}
{% load socialaccount %}
{% block welcome %}
<div id="subpage-hero" class="subpage-hero overlay">
    <div class="container">
    <div class="hero-content">
        <div class="hero-text text-center">
            <h1>login page</h1>
            <p>Connect using one of the following social platform providers</p>
        </div>
    </div>
    </div>
</div>
{% endblock welcome %}
{% block content %}
<div class="subpage-site-section">
    <div class="container">
    {% if not user.is_authenticated %}
    <h3>Platform providers:</h3>
    <ul class="list-unstyled">
        {% get_providers as socialaccount_providers %}
        {% for provider in socialaccount_providers %}
        <li class="list-item">
            <a title="{{ provider.name }}" class="btn btn-grey socialaccount_provider {{ provider.id }}"
               href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}">
                {{ provider.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>
</div>
{% endblock content %}
