{% load static %}

{% block header %}
{% with request.resolver_match.url_name as url_name %}
<header id="masthead">
    <section id="navigation">
        <nav class="navbar flex-column flex-sm-row">
            <a class="navbar-brand" href="{% url 'catalog:home' %}">
                <img alt="gahrb.dev logo"
                     src="{% static 'img/dalle_gahrb_12.png' %}"
                     class="d-inline-block align-top"
                     width="30" height="30"/>
                gahrb.dev
            </a>

            <ul class="nav nav-tabs justify-content-end">
                <li class="nav-item">
                    <a class="nav-link{% if url_name == 'home' %} active{% endif %}"
                       href="{% url 'catalog:home' %}">
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle{% if url_name == 'projects' or url_name == 'techstack' %} active{% endif %}"
                       data-toggle="dropdown"
                       href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Content
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item{% if url_name == 'projects' %} active{% endif %}"
                           href="{% url 'catalog:projects' %}">
                            Projects
                        </a>
                        <a class="dropdown-item{% if url_name == 'techstack' %} active{% endif %}"
                           href="{% url 'catalog:techstack' %}">
                            Tech Stack
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled{% if url_name == 'analysis' %} active{% endif %}"
                           href="{% url 'catalog:home' %}#analysis">Analysis</a>
                        {% if user.is_staff %}
                        <a class="dropdown-item disabled{% if url_name == 'ping' %} active{% endif %}"
                           href="{% url 'catalog:ping' %}">Ping</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if url_name == 'login' %} active{% endif %}"
                       href="{% if user.is_authenticated %} {% url 'account_logout' %} {% else %}{% url 'catalog:login' %}{% endif %}">
                        {% if user.is_authenticated %}Logout{% else %}Login{% endif %}
                    </a>
                </li>
                {% if user.is_authenticated or debug %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'admin:index' %}">
                        Admin
                    </a>
                </li>
                {% endif %}
                {% if user.is_staff or debug %}
                <li class="nav-item">
                    <a class="nav-link{% if url_name == 'unique_url' %} active{% endif %}"
                       href="{% url 'catalog:unique_url' %}">
                        Get Unique URL
                    </a>
                </li>
                {% endif %}
            </ul>
            <!-- form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2 disabled" type="search" placeholder="Search" aria-label="Search"/>
              <button class="btn btn-outline-success my-2 my-sm-0 disabled" type="submit">Search</button>
            </form -->
        </nav>
    </section>
</header>
{% endwith %}
{% endblock header %}
