{% block messages %}
{% if messages %}
<ul class="nav justify-content-center">
    {% for message in messages|slice:':1'|dictsortreversed:"level" %}
    <li class="list-inline-item ">
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            {% if DEFAULT_MESSAGE_LEVELS.INFO <= message.level and message.level < DEFAULT_MESSAGE_LEVELS.WARNING %}Notice: {% endif %}
            {% if DEFAULT_MESSAGE_LEVELS.WARNING <= message.level and message.level < DEFAULT_MESSAGE_LEVELS.ERROR %}Warning: {% endif %}
            {% if message.level >= DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock messages %}
