{% load static %}
{% load media %}
{% block overview %}
{% if overview %}
<section class="section-features">
    <div class="container container-bg" id="overview">
        <h2 class="text-center">Content</h2>
        <div class="row justify-content-center">
            {% if num_projects %}
            <div class="counter-item col-lg-3 col-md-3 col-xs-6">
                <h2 class="counter" data-to="{{ num_projects }}" data-speed="2000">0</h2>
                <h3>Number of Projects</h3>
            </div>
            {% endif %}
            {% if num_techstack %}
            <div class="counter-item col-lg-3 col-md-3 col-xs-6">
                <h2 class="counter" data-to="{{ num_techstack }}" data-speed="2000">0</h2>
                <h3>Tech stack size</h3>
            </div>
            {% endif %}
            {% if view_count %}
            <div class="counter-item col-lg-3 col-md-3 col-xs-6">
                <h2 class="counter" data-to="{{ view_count }}" data-speed="1000">0</h2>
                <h3>Views on this container image</h3>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endif %}
{% endblock overview %}