{% extends "main/base_generic.html" %}
{% load static %}
{% load media %}

{% block welcome %}
<div id="hero" class="subpage-hero overlay" >
    <div class="container">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Projects</h1>
        </div>
    </div>
    </div>
</div>
{% endblock welcome %}
{% block content %}

{% if projects %}
<section class="site-section section-portfolio">
    <div class="container">
      <div class="text-center">
        <h2 class="heading-separator">Latest Work</h2>
        <p class="subheading-text">Below, you can find all projects. To see more of them you may need to be logged in, or have been unlocked.</p>
          <p class="subheading-text"></p>
      </div>

      <div class="row">
      {% for project_iter in projects %}
         <article class="blog-post" id="{{ project_iter.id }}">
            {% if project_iter|get_blur:user_view_level %}
             <a href="{% url 'catalog:projects' %}#{{ project_iter.id }}">
                <img src="{% static forloop.counter|get_dalle_img %}"
                     class="img-res"
                     alt=""
                     height="80"
                     width="80" />
            </a>
             {% else %}
             <a href="{% url 'catalog:project' project_iter.id %}">
                 <img src="{% get_sample_img %}"
                     class="img-res"
                     alt=""
                     height="80"
                     width="80" />
            </a>
             {% endif %}
            <div {% if project_iter|get_blur:user_view_level %}
                 class="post-content post-blur"
                 {% else %}
                 class="post-content"
                 {% endif %}>
                <h3 class="post-title"><a href="{% url 'catalog:project' project_iter.id %}">{{ project_iter.name }}</a></h3>
                {% if not project_iter|get_blur:user_view_level %}
                <p>
                <a class="read-more"
                   href="{{ project_iter.link }}">
                    Visit project directly
                    <i class="fa-solid fa-link fa-fade"></i>
                </a>
                </p>
                {% else %}
                <p>More information coming soon...</p>
                {% endif %}
                <div class="post-meta">
                    {% if not project_iter|get_blur:user_view_level %}
                    <span class="post-author">
                        Status: {{ project_iter.get_status_display }}
                    </span>
                    <span class="post-date">
                        Start Date: {{ project_iter.created }}
                    </span>
                    <span class="post-category">
                        Tech Elements: {{ project_iter|get_ts_len }}
                    </span>
                    {% else %}
                    <span class="post-author">
                    Hi there! You looked into the source code?!?
                    </span>
                    {% endif %}
                </div>
            </div>
            {% if project_iter|get_blur:user_view_level %}
            <p>
            <a class="read-more" href="{% url 'catalog:projects' %}#{{ project_iter.id }}">
                Hidden project
            </a>
            </p>
            {% endif %}
        </article>

      {% endfor %}
      </div>
    </div>
  </section>
{% else %}
<h3>No projects defined yet</h3>
{% endif %}
{% endblock content %}