{% extends "main/base_generic.html" %}
{% load static %}
{% load media %}

{% block welcome %}
<div id="hero" class="hero overlay" >
    <div class="container">
    <div class="hero-content">
        <div class="hero-text text-left">
            <p>Project:</p>
            <h1>{{ project.name }}</h1>
        </div>
    </div>
    </div>
</div>
{% endblock welcome %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="post-content">
                <p>{{ project.description }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="post-content border border-secondary rounded">
                <h3 class="post-title">Project Card</h3>
                <p>Project Name: {{ project.name }}</p>
                <p>Project Link: <a class="read-more" href="{{ project.link }}">{{ project.link }}</a>
                    <i class="fa-solid fa-link fa-fade"></i></p>
                <p>Project Status: {{ project.get_status_display }}</p>
            </div>
        </div>

        {% if project.media.all %}
        <div class="col-md-12">
            <div class="post-content">
                <h3 class="post-title">Project Media</h3>
                <div class="row">
                    {% for media in project.media.all %}
                    <div class="col-md-4">
                        <div class="post-content">
                            <img src="{{ media.get_media_url }}" class="rounded mx-auto d-block" alt="" height="200" width="200" />
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Techstack of the project -->
        <div class="col-md-12">
            <div class="post-content">
                <h3 class="post-title">Techstack</h3>
                <div id="grid" class="row">
                    {% for element in techstack %}
                    <div class="col-lg-3 col-md-4 col-xs-6"
                        data-groups=[{% for project in element.project_set.all %}"{{ project.escape_name }}",{% endfor %}"all"]>
                       <div class="portfolio-item" id="{{ element.escape_name }}">
                         {{ element.icon_to_html }}
                         <h4 class="portfolio-item-title">{{ element.name }}</h4>
                             <a href="{% url 'catalog:techstack' %}#{{ element.escape_name }}" >
                             <i class="fa fa-arrow-right" aria-hidden="true">
                             </i></a>
                       </div>
                     </div>
                    {% endfor %}
                </div>
                {% if techstack|length > 4 %}
                <div class="text-center">
                    <a class="btn btn-gray" href="#" id="loadMore">Load More</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}