{% extends "main/base_generic.html" %}
{% load static %}
{% load media %}

{% block welcome %}
<div id="hero" class="subpage-hero overlay" >
    <div class="container">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Tech Stack</h1>
        </div>
    </div>
    </div>
</div>
{% endblock welcome %}

{% block content %}
{% if techstack %}
<section class="site-section subpage-site-section section-portfolio">
  <div class="container">
    <div class="text-center">
        <h2 class="heading-separator">Utilized Tech Elements</h2>
        <p class="subheading-text">Select a project to see its tech stack.</p>
        <h2 class="heading-separator"></h2>
      </div>
  </div>

  <div class="container">
      <ul class="portfolio-sorting list-inline text-center">
          <li class="list-inline-item"><a href="#" class="btn btn-gray active" data-group="all">All</a></li>
          {% for project in projects %}
          <li class="list-inline-item"><a href="#" class="btn btn-gray {% if project|get_blur %}btn-blur{% endif %}" data-group="{{ project.escape_name }}">{{ project.name }}</a></li>
          {% endfor %}
      </ul>

      <div id="grid" class="row">
          {% for element in techstack %}
          <div class="col-lg-3 col-md-4 col-xs-6"
              data-groups=[{% for project in element.project_set.all %}"{{ project.escape_name }}",{% endfor %}"all"]>
             <div class="portfolio-item" id="{{ element.escape_name }}">
               {{ element.icon_to_html }}
               <h4 class="portfolio-item-title">{{ element.name }}</h4>
                   <a href="{% url 'catalog:techstack' %}#{{ element.escape_name }}" >
                   <i class="fa fa-arrow-right" aria-hidden="true">
                   </i></a>
             </div>
           </div>
          {% endfor %}
      </div>
      <div class="text-center">
          <a class="btn btn-gray" href="#" id="loadMore">Load More</a>
      </div>
  </div>
</section>
{% else %}
<h3>No techstack defined yet</h3>
{% endif %}
{% endblock content %}