{% extends "main/base_generic.html" %}
{% load static %}
{% load media %}

{% block content %}
<section class="site-section section-portfolio" xmlns="http://www.w3.org/1999/html">
    <div class="container">
      <div class="text-center">
        <h2 class="heading-separator">Generate Link</h2>
        <form action="{% url 'catalog:unique_url' %}" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="submit" class="btn btn-blue btn-border"/>
        </form>
      </div>
    </div>
</section>
{% endblock content %}
