{% extends "main/base_generic.html" %}
{% load static %}
{% load media %}

{% block content %}
<section class="site-section section-portfolio" xmlns="http://www.w3.org/1999/html">
    <div class="container">
      <div class="text-center">
        <h2 class="heading-separator">Generated Link </h2>
          <p class="subheading-text">
          ID: {{ id }}
          </p>
          <p class="subheading-text">
          Content: {{ linked_to }}
          </p>
          <p class="subheading-text">
          Created at: {{ created }}</p>
          <p class="subheading-text">
          Url: {{ url }}
          </p>
          <p class="subheading-text">
          Greeting: {{ greeting }}
          </p>
      </div>
    </div>
</section>
{% endblock content %}
