{% extends "main/base_generic.html" %}
{% load static %}
{% load media %}

{% block welcome %}
<section class="site-section section-portfolio">
    <div class="container">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Your data</h1>
            <p>Find below the stored data associated with you.</p>
        </div>
    </div>
    </div>
</section>
{% endblock welcome %}

{% block content %}
<section class="site-section">
    <div class="container" id="data">
        <h2>Data</h2>
        <ul class="portfolio-sorting list-unstyled">
            <li class="list-item">
                {% if user.is_authenticated %}
                Associated User: <p>{{ user.username }}</p>
                {% else %}
                User not assiciated: <p>{{ user }}</p>
                {% endif %}
            </li>
            <li class="list-item">
                Current Session Data:
                <ul class="portfolio-sorting list-unstyled">
                    {% for item in request.session.items %}
                    {% if item.0|slice:":1" != "_" %}
                    <li class="list-inline-item">
                        <p>{{ item }}</p>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% if collected_data %}
            <li class="list-item">
                <p>Previously collected data: {{ collected_data }}</p>
            </li>
            {% endif %}
        </ul>
    </div>
</section>
{% endblock content %}
